<h1>Data Science Tools and Ecosystem

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:

* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists
* Calculate arithmeti expressions

<p>Some of the popular languages that Data Scientists use are:</p>
<p>&nbsp; &nbsp; 1.  Python.</p>
<p>&nbsp; &nbsp; 1.  R.</p>
<p>&nbsp; &nbsp; 1.  SQL.</p>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<p>&nbsp; &nbsp; 1. Numpy.</p>
<p>&nbsp; &nbsp; 2. Pandas.</p>
<p>&nbsp; &nbsp; 3. Plotly.</p>

### Below are a few examples of evaluating arithmetic expressions in Python

<p>&nbsp; &nbsp; 1. 3 + 2</p>
<p>&nbsp; &nbsp; 2. 4 - 2</p>
<p>&nbsp; &nbsp; 3. 1 / 2</p>

| Data Science Tools | 
| --- |
| Apache Spark | 
| Tensor Flow | 
| RStudio |

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Milagrosa Quero